@using DepositDatabaseCore.Model
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject UserManager<AspNetUser> userManager;
<div class="row">
    @{
        using (var db = new DepositDbContext())
        {
            var userId = userManager.GetUserId(User);
            var cardInfo = (from cards in db.Cards
                where cards.UserOwner.Id == userId
                select cards)
                .Include(c => c.Currency)
                .ToList();

            // Card list
            <div class="col-md-4">
                <h4 class="text-center">My payment cards</h4>

                <div id="cardList" class="panel-group panel">
                    @for (int i = 0; i < cardInfo.Count; i++)
                    {
                        <div class="panel panel-default">
                            <a href="#card@(i)" class="list-group-item bg-light-grey text-center" data-toggle="collapse"
                               data-parent="#cardList,#historyTables" data-target="#card@(i),#historyTable@(i)">@cardInfo[i].Id</a>

                            <div class="panel-collapse collapse" id="card@(i)">
                                <table class="table-condensed align-center">
                                    <tr>
                                        <th class="text-center width-25-perc">Currency</th>
                                        <th class="text-center width-75-perc">Balance</th>
                                    </tr>
                                    <tr>
                                        <td class="text-center">@cardInfo[i].Currency.Name</td>
                                        <td class="text-right">@cardInfo[i].Balance</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    }
                </div>

                <br/>
                
                @*Add new card*@
                <form asp-action="AddCard" asp-controller="Deposit" data-ajax="true" data-ajax-update="#info-content" data-ajax-mode="replace" data-ajax-method="GET">
                    <input id="addNewCardButton" type="submit" class="btn btn-primary" value="Add new card" />
                </form>

</div>

            //Card history table
            <div class="col-md-8">
                <h4 class="text-center">Latest actions</h4>

                <div id="historyTables">
                    @for (int i = 0; i < cardInfo.Count; i++)
                    {
                        var cardId = cardInfo[i].Id;
                        var cardHistory = (from ch in db.CardHistory
                                           join cards in db.Cards on ch.Card.Id equals cards.Id
                                           where ch.Card.Id == cardId
                                           orderby ch.DateTime descending
                                           select ch).Take(5).ToList();

                        <div class="panel border-none margin-0">

                            <div class="collapse" id="historyTable@(i)">
                                <table class="table-condensed table-bordered history-table">
                                    <tr>
                                        <th class="text-center width-25-perc">Date</th>
                                        <th class="text-center width-75-perc">Description</th>
                                    </tr>
                                    @foreach (var ch in cardHistory)
                                    {
                                        <tr>
                                            <td>@ch.DateTime</td>
                                            <td>@ch.Desription</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    }
                </div>

            </div>
        }
    }
</div>



