@using DepositDatabaseCore.Model
@model IEnumerable<DepositTerm>

<div id="tabMenu" class="menu-frame">
    
    <ul class="nav nav-tabs margin-top-50">
        <li role="presentation">
            <a id="generalInfoTabLink">General info</a>
        </li>
        <li role="presentation">
            <a id="depositListTabLink">Deposit list</a>
        </li>
        <li role="presentation" class="active">
            <a id="openNewDepositTabLink">Open new deposit</a>
        </li>
    </ul>

    <div id="new-deposit-content" class="menu-content">

        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Currency.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Months)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InterestRate)
                </th>
                <th></th>
            </tr>

        @using (Html.BeginForm(FormMethod.Post))
        {

            using (var db = new DepositDbContext())
            {
                var depositTerms = db.DepositTerms.ToList();

                foreach (DepositTerm depositTerm in depositTerms)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => depositTerm.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => depositTerm.Currency.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => depositTerm.Months)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => depositTerm.InterestRate) %
                        </td>
                        <td>

                            @Html.Hidden("termsId", depositTerm.Id)
                            <input id="openNewDepositButton@(depositTerm.Id)" data-termsId="@depositTerm.Id" type="submit" value="Open new deposit" class=" btn btn-primary btn-xs"/>

                        </td>
                    </tr>
                }
            }
        }
        </table>

    </div>

</div>
