@using Deposit.Models
@model IEnumerable<Deposit.Models.DepositTerms>

<div id="menu" class="menu-frame">
    <ul class="nav nav-tabs margin-top-50">
        <li role="presentation">
            @Ajax.ActionLink("Загальна інформація", "GeneralInfo", new AjaxOptions()
            {
                HttpMethod = "GET",
                UpdateTargetId = "menu",
                InsertionMode = InsertionMode.Replace
            })
        </li>
        <li role="presentation">
            @Ajax.ActionLink("Перегляд депозитів", "DepositList", new AjaxOptions()
            {
                HttpMethod = "GET",
                UpdateTargetId = "menu",
                InsertionMode = InsertionMode.Replace
            })
        </li>
        <li role="presentation" class="active">
            @Ajax.ActionLink("Відкрити новий депозит", "MakeNewDeposit", new AjaxOptions()
            {
                HttpMethod = "GET",
                UpdateTargetId = "menu",
                InsertionMode = InsertionMode.Replace
            })
        </li>
    </ul>
    
    <div id="new-deposit-content" class="menu-content">
        
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Currencies.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Months)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InterestRate)
                </th>
                <th></th>    
            </tr>

            @using (var db = new DepositEntities())
            {
                var depositTerms = db.DepositTerms.ToList();
                
                for (int i = 0; i < depositTerms.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => depositTerms[i].Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => depositTerms[i].Currencies.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => depositTerms[i].Months)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => depositTerms[i].InterestRate)
                        </td>
                        <td>
                            @using (Ajax.BeginForm("NewDeposit", @*new { id = depositTerms[i].Id },*@ new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "new-deposit-content", InsertionMode = InsertionMode.Replace }))
                            {
                                @Html.Hidden("termsId", depositTerms[i].Id)
                                <input type="submit" value="Відкрити депозит" class=" btn btn-primary btn-xs" />
                            }
                        </td>
                    </tr>
                }
            }
        </table>

    </div>
</div>
