@using System.Configuration

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
        
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(ConfigurationManager.AppSettings["BankName"], "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About the Bank <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("About", "About","Home")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Reliability", "Reliability", "Principles")</li>
                            <li>@Html.ActionLink("Convenience", "Convenience", "Principles")</li>
                            <li>@Html.ActionLink("Profitability", "Profitability", "Principles")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Contact info", "Contact", "Home")</li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="btn btn-warning navbar-btn" type="button" onclick="location.href = '@Url.Action("Index", "Deposit")'">Deposit management</button>       
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
    </div>
    
    <footer class="panel-footer footer">
        <div class="container">
            <p class="text-center">&copy; Anastasia Nevidomska</p>
        </div>
    </footer>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>




